<MudItem md="3" sm="4" xs="12">
    <MudPaper Class="d-flex align-center justify-center mud-width-full py-2 overflow-x-hidden" Square="true" Elevation="3">
        <MudStack>
            <h3>@WorkoutName</h3>
            <h5>@Difficulty</h5>

        </MudStack>

    </MudPaper>
</MudItem>

@code {
    [Parameter]
    public string WorkoutName { get; set; }
    [Parameter]
    public string Difficulty { get; set; }
}
