<MudItem md="6" sm="12" xs="12">
    <MudPaper Class="d-flex align-center justify-space-between mud-width-full py-2 overflow-x-hidden" Elevation="5">
        <MudButton OnClick="() => NavigateToWorkoutPage(Workout.Id)">
            <MudStack Justify="Justify.FlexStart">
                <h3>@Workout.Name</h3>
            </MudStack>
        </MudButton>
        <MudIconButton Color="Color.Warning" Icon="@Icons.Material.Filled.Edit"></MudIconButton>
    </MudPaper>
</MudItem>

@code {
    [Inject]
    public NavigationManager _navigationManager { get; set; }

    [Parameter]
    public Workout Workout { get; set; }


    private void NavigateToWorkoutPage(int id)
    {
        _navigationManager.NavigateTo("/workout/" + id);
    }

}
