@page "/exercise"
@inject IJSRuntime JSRuntime


<h1>Blazor Webcam</h1>
<video id="video" width="640" height="480" style="display:none" />
<MudGrid Class="mt-5" Justify="Justify.Center">
    <MudItem Class="rounded" Style="@($"background:{Theme.Palette.Dark};")">
        <canvas id="overlay" width="640" height="480" />
    </MudItem>
</MudGrid>
<br />
<MudButton @onclick="StartVideo" Variant="Variant.Filled" Color="Color.Primary">Başlat</MudButton>
<MudButton @onclick="StopVideo" Variant="Variant.Filled" Color="Color.Secondary">Bitir</MudButton>
<MudText>@result</MudText>


    @code {
    private MudTheme Theme = new MudTheme();
    private object[] keypoints = new object[] { };
    private string result = "";

    private async Task StartVideo()
    {
        keypoints = await JSRuntime.InvokeAsync<object[]>("estimatePose");
        foreach (var keypoint in keypoints)
        {
            result += keypoint.ToString();
        }
    }

    private void StopVideo()
    {
        JSRuntime.InvokeVoidAsync("stopVideo");
    }
}
