@page "/"
@inject IDialogService DialogService
@inject NavigationManager _navigationManager;

<MudGrid Class="align-center mt-5" @ref=this.grid>
    @if (Workouts != null)
    {
        @foreach (var workout in Workouts)
        {
                <WorkoutItemComponent Workout="workout" />   
        }
    }
    else
    {
        <p>Loading...</p>
    }
    <MudItem md="2" sm="4" xs="6">
        <MudFab OnClick="@OpenDialog" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" />
    </MudItem>
</MudGrid>

@code {
    [Inject]
    LocalStorageService LocalStorageService { get; set; }
    public List<Workout> Workouts { get; set; }
    private MudGrid grid;

    protected override async Task OnInitializedAsync()
    {
        Workouts = await LocalStorageService.GetItemAsync<List<Workout>>("workouts");
    }

    private async Task OpenDialog()
    {
        var result = await DialogService.ShowAsync<CreateWorkoutDialogComponent>();
    }

    
}