@page "/"
@inject IJSRuntime JSRuntime


<h1>Blazor Webcam</h1>
<video id="video" width="640" height="480" />
<canvas id="overlay" width="640" height="480" />
<br />
<MudButton @onclick="StartVideo" Variant="Variant.Filled" Color="Color.Primary">Başlat</MudButton>
<MudButton @onclick="StopVideo" Variant="Variant.Filled" Color="Color.Secondary">Bitir</MudButton>
<MudText></MudText>


@code {

    private async Task StartVideo()
    {
        await JSRuntime.InvokeVoidAsync("estimatePose");
    }

    private void StopVideo()
    {
        JSRuntime.InvokeVoidAsync("stopVideo");
    }
}